{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    
    <!-- CSS link -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
    <!-- Local Fonts -->
    <style>
        @font-face {
            font-family: 'Neuemontreal';
            src: url(./fonts/PPNeueMontreal-Medium.otf);
        }
    </style>
    <title>Admin uchun || Nashriyot</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-login">
                <h2>Nashriyot</h2>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="login-section">
            <div class="login-area">
                <h2 class="login-title">Admin saytiga kirish</h2>
                {% if form.errors %}
                    <div class="alert alert-block alert-danger">
                        <p>Username yoki parolda xatolik mavjud! Qaytadan harakat qilib ko'ring.</p>
                    </div>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Foydalanuvchi ismi">
                    <input type="password" name="password" placeholder="Parol">
                    <input type="submit" class="button-login button" value="Kirish">
                </form>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="">
            <div class="footer-area">
                <p>
                    © 2022 Maqolalar® || Asadbek Muxtorov
                </p>
            </div>
            
        </div>
    </footer>
    <!-- Bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    
    <!-- Font awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>